html,
body {
    height: 100%;
    color: white;
}

body {
    padding-top: 0;
    padding-bottom: 20px;
    background-color: #212529;
}

.form-search {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-search .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-search .form-control:focus {
    z-index: 2;
}

.form-search input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}


.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
    color: black;
}

.card {
    color: black;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.oude-prijs {
    color: red;
}
