html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #212529;
}

.scan-card {
    width: 20rem;
}

.scanner {
    opacity: 0;
    margin-bottom: -2rem;
}

img.barcode {
    margin: auto;
    width: 10rem;
}

